
.logo-delfos {
	-fx-image: url("../imgs/logo-complete.png");
}

.logo-unir {
	-fx-image: url("../imgs/logo-unir.png");
}

.logo-ifro {
	-fx-image: url("../imgs/logo-ifro.png");
}

.logo-mec {
	-fx-image: url("../imgs/logo-mec.png");
	
}

.painel {
	-fx-background-color: white;
}